.container {
    padding: 2vmin;
    background-color: var(--primary-container);
    .calendar {
        .weeks {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            list-style: none;
            text-align: center;
        }
        .days {
            display: grid;
            text-align: center;
            grid-template-columns: repeat(7,1fr);
            grid-auto-rows: 1fr;
            a {
                padding: 1vmin;
                z-index: 1;
                cursor: pointer;
                position: relative;

                &.inactive {
                    color: var(--on-primary-container);
                }
                &.disabled {
                    color: var(--outline);
                }
                &.active {
                    color: var(--on-primary);

                    &::before {
                        background: var(--primary);
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    left: 50%;
                    top: 50%;
                    height: 40px;
                    width: 40px;
                    z-index: -1;
                    border-radius: 50%;
                    -webkit-transform: translate(
                        -50%,
                        -50%
                    );
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

                &:not(.active):hover::before {
                    background: #f2f2f2;
                }
            }
        }

        li {
            color: #333;
            width: calc(100% / 7);
            font-size: 1.07rem;
        }

        .weeks {
            li {
                font-weight: 500;
                cursor: default;
            }
        }
    }
}
