.calendar {
    padding: 20px;
    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
    }
    .days {
        margin-bottom: 20px;
        li {
            z-index: 1;
            cursor: pointer;
            position: relative;
            margin-top: 30px;
            &.inactive {
                color: #aaa;
            }
            &.active {
                color: #fff;
                &::before {
                    background: #1e90ff;
                }
            }
            &::before {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                height: 40px;
                width: 40px;
                z-index: -1;
                border-radius: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            &:not(.active):hover::before {
                background: #f2f2f2;
            }
        }
    }
    li {
        color: #333;
        width: calc(100% / 7);
        font-size: 1.07rem;
    }
    .weeks {
        li {
            font-weight: 500;
            cursor: default;
        }
    }
}
