.button {
  box-sizing: border-box;
  border-radius: 50%;
  color: var(--primary);
  position: fixed;
  bottom: 20vh;
  right: 20vw;
  box-shadow: var(--dp6);
  &:hover,
  &:active {
    box-shadow: var(--dp12);
    color: var(--secondary);
  }
}
